h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px 0 10px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #777575;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  margin: 20px auto;
  max-width: 600px;
}

.weather-app {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 25px;
}

.overview {
  margin-bottom: 10px;
  margin-left: 25px;
}

.weather-temperature img {
  margin-bottom: 44px;
  margin-right: 5px;
  height: 75px;
  width: 75px;
}

.weather-temperature strong {
  color: #272142;
  font-size: 64px;
  font-weight: 400;
}

.weather-temperature .units {
  font-size: 16px;
  margin: 2px;
  position: relative;
  top: -34px;
}

#fahrenheit-link {
  color: #000;
  text-decoration: none;
}

#celsius-link {
  color: #036767;
  cursor: pointer;
  text-decoration: none;
}

#fahrenheit-link:hover {
  color: #036767;
}

#celsius-link:hover {
  color: #000;
}

#github-link,
#netlify-link {
  color: #036767;
}
